<!DOCTYPE html>
<html>
    <head>
        <title>NODE</title>
        <link rel="stylesheet" href="../css/styles.css">
        <script src="../js/1-script.js"></script>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{errormessage}}</p>
        </div>
        {{>footer}}
    </body>
</html>