<!DOCTYPE html>
<html>
    <head>
        <title>Sobre Nosotros</title>
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
         <div class="main-content">
            {{>header}}
            <p>Esta pequeña pagina sirve para obtener pronosticos, a medida que se hace
                uso de los conocimientos de node.js para ejecutar los procesos<br>
                Creado por <b>{{name}}</b>
            </p>
        </div>
        {{>footer}}
    </body>
     
</html>
