<!DOCTYPE html>
<html>
    <head>
        <title>Help Page</title>
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
         <div class="main-content">
            {{>header}}
            <h4>{{title}}</h4>
            <p>{{message}}</p>
        </div>
        {{>footer}}
    </body>

</html>
