<!DOCTYPE html>
<html>
    <head>
        <title>NodeJs</title>
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="icon" href="/img/weather.png">
        
    </head>
    
    <body>
        <img src="/img/liston.png" style="width: 100px;position: absolute;right: 0;">
        <div class="main-content">
            {{>header}}
            <h2> Proporciona una ubicacion para el pronóstico del tiempo.</h2>
            <form>
                <input placeholder="ubicacion">
                <button>Search</button>
            </form>
            <p id="message-1"></p>
            <p id="message-2" style="color:red"></p>
        </div>
         {{>footer}}

         <script src="../js/1-script.js"></script>
         <p></p>
    </body>
</html>
